@import '../variables';

.quote-form {
  // background-color: $color-aqua;

  label {
    width: 100%;
    display: block;
    font-size: pxtorem(11);
  }

  input[type='text'] {
    border: pxtorem(1) solid $color-base-gray;
    height: pxtorem(30);
    width: 100%;
    padding: .5rem;

    &:focus,
    &:active {
      outline: none;
      border: pxtorem(1) solid $color-light-black;
    }
  }
}