@import '../mixings';

.home-page {
  max-width: pxtorem(800);
  margin: 0 auto;
  padding: 0;
  display: flex;
  height: 100%;


  input[type='text'] {
    border: pxtorem(1) solid $color-base-gray;
    height: pxtorem(30);
    width: 100%;
    padding: .5rem;

    &:focus,
    &:active {
      outline: none;
      border: pxtorem(1) solid $color-light-black;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: pxtorem(1) solid $color-base-gray;
  }

  .map-loading-element {
    width: pxtorem(400);
    height: pxtorem(400);
    position: relative;
    overflow: hidden;
    top: 50%;
    transform: translateY(#{pxtorem(-100)});
  }

  .map-container {
    width: pxtorem(400);
    height: pxtorem(400);
  }

  .map-element {
    height: 100%;
  }
}
