@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import '../scss/variables';
// pages
@import 'pages/home';
// components
@import 'components/quote-form';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

#index {
  width: 100%;
  height: 100%;
  background-color: $color-light-beige;
  padding: 0;
  margin: 0;
}

.app-container {
  height: 100%;
}