@import 'pages/home';
@import '../scss/variables';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

#index {
  width: 100%;
  height: 100%;
  background-color: $color-light-beige;
  padding: 0;
  margin: 0;
}